{% extends './main_template.html' %}
{% load static %}

{% block title %} 救護案件列表新增 {% endblock title %}

{% block content %} 

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">救護案件列表編輯</h1>
    <!-- Edit Code -->
    <div class="card shadow mb-4">
        <div class="card-header py-3"></div>
        <div class="card-body">
            {% if submitted %}
                Your Emergency List already submitted Successfully!!!<br>
                <a href="{% url 'EmList' %}">返回救護列表</a>
            {% else %}
                <form action="" method="POST" enctype="multipart/form-dat">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="ins_bt" value="add" class="btn btn-primary btn-block">修改</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock content %}

<!-- table_list css -->
<link href="{% static 'dashboard/css/table_list.css' %}" rel="stylesheet">