{% extends './main_template.html' %}
{% load static %}

{% block title %} 救護案件列表 {% endblock title %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">救護案件列表</h1>
    <!-- Table Code -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a href="{% url 'EmListEdit' %}">新增救護案件</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <!-- <table class="table table-bordered" width="100%" cellspacing="0"> -->
                    <thead>
                        <tr>
                            <th>案發日期</th>
                            <th>車輛</th>
                            <th>內容</th>
                            <th>地點</th>
                            <th>狀態</th>
                            <th>修改</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for emergency in emergency_list %}
                        <tr>
                            <td>{{ emergency.time|date:"Y/m/d H:m:s" }}</td>
                            <td>{{ emergency.car }}</td>
                            <td>{{ emergency.detail }}</td>
                            <td>{{ emergency.location }}</td>
                            {% if emergency.status == '0' %}
                            <td>待確認</td>
                            {% else %}
                            <td>完成</td>
                            {% endif %}
                            <td>
                                <!-- <a href="update/{{emergency.id}}/"> -->
                                <!-- <a href="{% url 'EmListUpdate' emergency.id %}">
                                    <img class="img-profile" src="{% static './dashboard/img/edit_icon.svg' %}">
                                </a> -->
                                <a href="{% url 'EmListUpdate' emergency.id %}" class="btn btn-outline-primary btn-sm">
                                    Update
                                </a>
                                <a href="{% url 'EmListDelete' emergency.id %}" class="btn btn-outline-danger btn-sm">
                                    Delete
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
{% endblock content %}

{% block css %}
<!-- table_list css -->
<link href="{% static 'dashboard/css/table_list.css' %}" rel="stylesheet">
{% endblock css %}
