<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- {% for emergency in emergency_list %}
        <table>
            <thred>
                <tr>
                    <th>編號</th>
                    <th>案發日期</th>
                    <th>單位</th>
                    <th>類別</th>
                    <th>內容</th>
                    <th>地點</th>
                </tr>
            </thred>
            <tfoot>
                <tr>
                    <th>編號</th>
                    <th>案發日期</th>
                    <th>單位</th>
                    <th>類別</th>
                    <th>內容</th>
                    <th>地點</th>
                </tr>
            </tfoot>
            <tbody>
                <td>{{ emergency.id }}</td>
                <td>{{ emergency.time|date:"Y/m/d H:m:s" }}</td>
                <td>{{ emergency.unit }}</td>
                <td>{{ emergency.category }}</td>
                <td>{{ emergency.detail }}</td>
                <td>{{ emergency.location }}</td>
            </tbody>
        </table>
    {% endfor %} -->
    <h1>{{ response }}</h1>
</body>
</html>